.board {
  font-family: Arial, Helvetica, sans-serif;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-top: 0;
  border: 1px solid transparent;
  color: #fff;
  background-color: #0c5460;
  border-color: #bee5eb;
  text-align: center;
  display: block;
}

.description {
  text-align: center;
  margin-bottom: 2rem;
}

.mat-expansion-panel {
  background: #0c5460 !important;
  border-color: #bee5eb;
  margin-bottom: 1rem !important;
}

.rules {
  margin-bottom: 1rem;
}

.finishedGame {
  text-align: center;
}

.fullSize {
  width: 100%;
}

.middleSize {
  width: 50%;
}
