<ng-container class="board">
  <div class="description">
    <mat-accordion class="rules">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Tic Tac Toe
          </mat-panel-title>
          <mat-panel-description>
            Règles
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          2 joueurs s'affrontent chacun à leur tour
        </p>
        <p>
          Le premier qui arrivera à aligner {{ size }} symboles horizontalement,
          verticalement ou en diagonale aura gagné
        </p>
      </mat-expansion-panel>
    </mat-accordion>
    <app-player-form [players]="players"></app-player-form>
  </div>
  <div *ngIf="gameEnded" class="finishedGame">
    <div *ngIf="!draw">{{ currentPlayer.getSurname() }} a gagné</div>
    <div *ngIf="draw">Match nul</div>
    <button mat-flat-button color="primary" (click)="restart()">
      Recommencer
    </button>
  </div>
  <mat-grid-list #grid cols="4" [rowHeight]="size * 100">
    <mat-grid-tile #boardGrid [colspan]="2" *ngIf="!gameEnded">
      <div class="game">
        <div
          class="line"
          *ngFor="let items of [].constructor(size); let i = index"
        >
          <app-cell
            class="cell"
            [lineIndex]="i"
            [columnIndex]="j"
            [currentPlayer]="currentPlayer"
            (cellAdded)="addCellToBoard($event)"
            (cellPlayed)="cellPlayed($event)"
            ngClass="{ disabled: !playerMustPlay}"
            *ngFor="let items of [].constructor(size); let j = index"
          >
          </app-cell>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="gameEnded ? grid.cols : 2">
      <app-score-board
        [players]="players"
        [ngClass]="[grid.cols == 2 ? 'fullSize' : 'middleSize']"
      ></app-score-board>
    </mat-grid-tile>
  </mat-grid-list>
</ng-container>
